assist
ultrasonic_distance
position
monitor
CMakeFiles
CMakeCache.txt
Makefile
*.jpg
*.png
*.xml
cmake_install.cmake
a.out
*.tar.gz
*.sock
*.pdf
tmp/
*.o
*.a
yolov3.weights
yolov3.cfg
yolov3-tiny.weights
yolov3-tiny.cfg
data/
prevoice/
vision
*.mp3
speech
voice/
audio.sh
proxy
spawn
run
*.mp4
value1
value2
value3
test
value4
